html, body {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Arial, sans-serif;
}

#uploadDiv {
    display: none;
    background-color: transparent;
    color: transparent;
    position: absolute;
    z-index: 1;
    left: auto;
    right: auto;
    bottom: 0;
    overflow: hidden;
}

#userImg {
    position: relative;
}

.fileInputBtn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
}

.fileInputBtn input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}